{% extends 'nav_bar.html' %}
{% block title %}
<br>
{% endblock %}
{% block content %}
        <div class="row">
        {% for data in packed_data %}
            <div class="col-sm-6 col-md-4">
                {% if data['available'] %}
                <div class="thumbnail">
                {% else %}
                <div class="thumbnail" style="background-color: #c1c1c1">
                {% endif %}
                    <h4>{{ data['title'] }}</h4>
                    <div class="col-md-6">Actress: {{ data['actress'] }}</div>
                    <div class="col-md-6"><span class="pull-right">Date: {{ data['post_date'] }}</span></div>
                    <img src="{{ data['cover_link'] }}"></img>
                    <div class="caption">
                        <div class="thumbnail">
                        {% set preview_link_list = data['preview_link'].split(' ') %}
                        {% for l in preview_link_list %}
                        <img src="{{ l }}"></img>
                        {% endfor %}
                        </div>
                        
                        {% set rapid_link_list = data['rapid_link'].split(' ')[:-1] %}
                        {% for l in rapid_link_list %}
                            {% if data['available'] %}
                            {% else %}
                                <button type="button" class="btn btn-success dl_button" id="{{ data['url_id'] }}">Download {{ l.split('/')[-1].split('.')[0] }}</button>
                            {% endif %}
                        <!--<p><a href="{{ l }}">{{ l }}</a></p> -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
